/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

@each $btn-name, $btn-color in $btn-background-color {
  .#{$btn-name} {
    background-color: $btn-color;
    &:hover {
      background-color: lighten($btn-color, 15%);
    }
  }
}